[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasette = "*"
httpx = "*"
"beautifulsoup4" = "*"
pendulum = "*"
csvs-to-sqlite = "*"

[dev-packages]

[requires]
python_version = "3.7"
