name: ci

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/setup-python@v1
      with:
        python-version: '3.8'

    - uses: actions/checkout@v2
    - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '281.0.0'
        service_account_email: ${{ secrets.GCP_SA_EMAIL }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - name: Setup
      id: run
      run: |
        export image_name=eu.gcr.io/atomic-marking-535/covid19-aut-stats:${{ github.run_id }}
        gcloud auth configure-docker && \
        curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
        source $HOME/.poetry/env
        poetry env use python3.8
        poetry install
        make covid19-aut.sqlite && \
        poetry run datasette package covid19-aut.sqlite --metadata metadata.json --tag ${image_name} --install=datasette-vega && \
        docker push ${image_name} && \
        gcloud run deploy covid19-aut-stats --image ${image_name} --platform managed --region europe-west1 --project ${{ secrets.GCP_PROJECT_ID }}
