name: update

on:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/setup-python@v1
      with:
        python-version: '3.8'

    - uses: actions/checkout@v2
    - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '281.0.0'
        service_account_email: ${{ secrets.GCP_SA_EMAIL }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - name: Setup
      id: run
      env:
        MATRIX_USER: ${{ secrets.MATRIX_USER }}
        MATRIX_PASSWORD: ${{ secrets.MATRIX_PASSWORD }}
        MATRIX_HOMESERVER_URL: ${{ secrets.MATRIX_HOMESERVER_URL }}
      run: |
        set -e
        export image_name=eu.gcr.io/atomic-marking-535/covid19-aut-stats:${{ github.run_id }}
        curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
        source $HOME/.poetry/env
        poetry env use python3.8
        poetry install
        poetry run python3 update-csv.py --output-file covid19-aut.csv > output.txt
        if [[ -n "$(git diff covid19-aut.csv)" ]]; then
          wget https://github.com/zerok/matrix-send/releases/download/v0.1.0/matrix-send_0.1.0_Linux_x86_64.tar.gz
          tar -xzvf matrix-send_0.1.0_Linux_x86_64.tar.gz
          cat output.txt | ./matrix-send --room \!eccYxuHHODPfcfuKQM:matrix.zerokspot.com
          gcloud auth configure-docker
          echo "::set-output name=output_changed::true"
          make covid19-aut.sqlite
          poetry run datasette package covid19-aut.sqlite --metadata metadata.json --tag ${image_name} --install=datasette-vega
          docker push ${image_name}
          gcloud run deploy covid19-aut-stats --image ${image_name} --platform managed --region europe-west1 --project ${{ secrets.GCP_PROJECT_ID }}
        fi

    - name: Commit changed file
      if: steps.run.outputs.output_changed == 'true'
      uses: alexesprit/action-update-file@master
      with:
        file-path: covid19-aut.csv
        commit-msg: Update covid19-aut.csv
        github-token: ${{ secrets.GITHUB_TOKEN }}
